<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Traceability.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<connectionStrings>
		<add name="conStrEtiket" connectionString="" />
		<add name="conStr" connectionString="" />
	</connectionStrings>
	<appSettings>
		<add key="IsOnlyOneInstance" value="false" />
		<add key="ProductionLine" value="1" />
		
		<!--<add key="Point" value="104"/>-->
		<add key="Point" value="68" />
		
		<add key="MRP" value="123" />
		<add key="BufferSize" value="4" />
		
		<add key="SaveWithoutMatchVerification" value="false" />
		<add key="AlwaysCanGoPermit" value="false" />

		<add key="isOperatorLoginOn" value="false" />

		<!-- в секундах -->
		<add key="TimeToHideAnimateSec" value="3" />
		
		<!--OPC configuration (will be in New Config Data)-->
		<add key="OPCType" value="UA" />
		<add key="OPCNode" value="BRKIR140V" />
		<add key="OPCProgID" value="KEPware.KEPServerEx.V5" />
		<add key="OPCIPServer" value="127.0.0.1" />
		<add key="OPCPort" value="49320" />
		
		<!--New Config Data-->
		<add key="PointName" value="" />
		<add key="ShowDebugForm" value="true" />
		<add key="ShowLogs" value="true" />

		<add key="SaveType" value="Individual" />
		<add key="EventSaveType" value="AfterScan" />
		<add key="ClearBy" value="Sensor" />
		<add key="ExtraCompEnable" value="0" />
		<add key="TagIsHere" value="Test.VirtualPLC._Slot" />
		<add key="TagButtons" value="Test.VirtualPLC._Slot" />
		<add key="TagCanGo" value="Test.VirtualPLC._Slot" />
		

		<add key="ProductScanType" value="SickIP" />
		<add key="ComponentScanType" value="COM" />
		<add key="ExtraScanType" value="COM" />
		<add key="ProductSickIP" value="127.0.0.1" />
		<add key="ProductSickPort" value="2112" />

		<add key="ComponentSickIP" value="127.0.0.1" />
		<add key="ComponentSickPort" value="2112" />
		
		<add key="ExtraSickIP" value="127.0.0.1" />
		<add key="ExtraSickPort" value="2112" />

		<add key="ProductComPort" value="COM4" />
		<add key="ProductBaudRate" value="9600" />
		<add key="ProductParity" value="None" />
		<add key="ProductDataBits" value="8" />
		<add key="ProductStopBits" value="One" />

		<add key="ComponentComPort" value="COM8" />
		<add key="ComponentBaudRate" value="9600" />
		<add key="ComponentParity" value="None" />
		<add key="ComponentDataBits" value="8" />
		<add key="ComponentStopBits" value="One" />
		
		<add key="ExtraScanType" value="COM" />
		<add key="ExtraComPort" value="COM4" />
		<add key="ExtraBaudRate" value="9600" />
		<add key="ExtraParity" value="None" />
		<add key="ExtraDataBits" value="8" />
		<add key="ExtraStopBits" value="One" />
		<!--New Config Data-->

		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>

 <system.serviceModel>
  <bindings>
   <basicHttpBinding>
   </basicHttpBinding>
  </bindings>
 </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Pipelines" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.3" newVersion="6.0.0.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.28.0" newVersion="3.1.28.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNetCore.Http" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.22.0" newVersion="2.1.22.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNetCore.Server.Kestrel.Core" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.25.0" newVersion="2.1.25.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.Cng" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.1.1" newVersion="4.3.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
